<%- include('partials/header') %>

    <a href="/artist" class="">
        <img src="/imgs/music1.jpg" alt="See All Artists">
    </a>
    <a href="/song" class="">
        <img src="/imgs/music2.jpg" alt="See All Songs">
    </a>
    <h1 class="h1-logo">MUSIC.FAV</h1>
    <h3 class="h3-logo">ALL OF YOUR FAVORITES. ALL IN ONE SPOT.</h3>
    <a href="/artist/new" class="">
        <img src="/imgs/music3.jpg" alt="Add a New Artist">
    </a>
    <a href="/song/new" class="">
        <img src="/imgs/music4.jpg" alt="Add a New Song">
    </a>

    <%- include('partials/footer') %>