<%- include('partials/header') %>

    <h1>TESTING INDEX</h1>

    <a href="/artist">See All Artists</a>
    <a href="/song">See All Songs</a>
    <a href="/artist/new">Add A New Artist</a>
    <a href="/song/new">Add A New Song</a>

    <%- include('partials/footer') %>