<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>music.fav</title>
  <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline|Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="../../css/indexstyle.css">
</head>

<body>
    <div class="flex">
        <div class="grid-container">
            <div class="logo">
                <img src="/imgs/logo.png">
            </div>
            <div class="hover-container one">
                <div class="item one">
                    <div class="middle">
                        <div class="nav-link">
                            <a href="/artist" class="artist nav-link">
                                See All Artists
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-container two">
                <div class="item two">
                    <div class="middle">
                        <div class="nav-link">
                            <a href="/song" class="add-artist nav-link">
                                See All Songs
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-container three">
                <div class="item three">
                    <div class="middle">
                        <div class="nav-link">
                            <a href="/artist/new" class="song nav-link">
                                Add a New Artist
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover-container four">
                <div class="item four">
                    <div class="middle">
                        <div class="nav-link">
                            <a href="/song/new" class="add-song nav-link">
                                Add a New Song
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>